// Input parameters:
// See https://github.com/ciccalab/SIMPLI/wiki/Run

// Metadata
params.sample_metadata_file = "$projectDir/test/metadata/sample_metadata.csv" 
params.raw_metadata_file = "$projectDir/test/metadata/raw_file_metadata.csv"
params.channel_metadata = "$projectDir/test/metadata/channel_metadata.csv" 
params.area_measurements_metadata = "$projectDir/test/metadata/marker_area_metadata.csv"
params.cell_clustering_metadata = "$projectDir/test/metadata/cell_clustering_metadata.csv"
params.cell_thresholding_metadata = "$projectDir/test/metadata/cell_thresholding_metadata.csv"
params.cell_masking_metadata = "$projectDir/test/metadata/cell_masking_metadata.csv"
params.homotypic_interactions_metadata = "$projectDir/test/metadata/homotypic_interactions_metadata.csv"
params.heterotypic_interactions_metadata = "$projectDir/test/metadata/heterotypic_interactions_metadata.csv"

// CellProfiler4 Pipelines
params.cp4_preprocessing_cppipe = "$projectDir/test/cellprofiler_pipelines/preprocessing_example.cppipe"
params.cp4_segmentation_cppipe = "$projectDir/test/cellprofiler_pipelines/cell_segmentation_example.cppipe"

// Type of tiff image
params.tiff_type = "single" // "single" or "ome"

// Output Folder
params.output_folder ="$launchDir/test_output"

// Colors for marker intensity scale
params.high_color = "'#FF0000'"
params.mid_color = "'#FFFFFF'"
params.low_color = "'#0000FF'"

// Choose processes to skip
params.skip_conversion = false 
params.skip_normalization = false
params.skip_preprocessing = false
params.skip_area = false 
params.skip_cp_segmentation = false
params.skip_cell_type_identification = false
params.skip_cell_clustering = false
params.skip_cell_thresholding = false 
params.skip_homotypic_interactions = false 
params.skip_heterotypic_interactions = false 
params.skip_visualization = false 
params.skip_area_visualization = false
params.skip_type_visualization = false
params.skip_cluster_visualization = false
params.skip_thresholding_visualization = false
params.skip_homotypic_visualization = false
params.skip_heterotypic_visualization = false 

// Optional input files
//											NOTE not 'null'
params.tiff_input_metadata_file = null
params.normalized_metadata_file = null 
params.preprocessed_metadata_file = null 
params.area_measurements_file = null
params.single_cell_data_file = null
params.annotated_cell_data_file = null
params.clustered_cell_data_file = null 
params.thresholded_cell_data_file = null 
params.single_cell_masks_metadata = null
params.homotypic_interactions_file = null
params.heterotypic_interactions_file = null

