// Input parameters:
// See https://github.com/ciccalab/SIMPLI/wiki/Run

params.output_folder ="$baseDir/test_output"
params.channel_metadata = "$baseDir/test/metadata/channel_metadata.csv" 
params.sample_metadata_file = "$baseDir/test/metadata/sample_metadata.csv" 

params.raw_metadata_file = "$baseDir/test/metadata/raw_file_metadata.csv"
params.converted_metadata_file = null // NOTE not 'null'
params.normalized_metadata_file = null 
params.preprocessed_metadata_file = null 
params.single_cell_data_file = null
params.annotated_cell_data_file = null
params.clustered_cell_data_file = null 
params.single_cell_masks_metadata = null

params.skip_conversion = false 
params.skip_normalization = false
params.skip_preprocessing = false
params.skip_area = false 
params.skip_visualization = false 
params.skip_area_visualization = false 
params.skip_type_visualization = false
params.skip_cluster_visualization = false 
params.skip_segmentation = false
params.skip_cell_type_identification = false
params.skip_cell_clustering = false


params.tiff_type = "single" 
params.cp3_preprocessing_cppipe = "$baseDir/test/cellprofiler_pipelines/preprocessing_example.cppipe"
params.cp3_segmentation_cppipe = "$baseDir/test/cellprofiler_pipelines/cell_segmentation_example.cppipe"
params.area_measurements_metadata = "$baseDir/test/metadata/marker_area_metadata.csv"
params.cell_analysis_metadata = "$baseDir/test/metadata/cell_analysis_metadata.csv"

params.high_color = "'#FF0000'"
params.mid_color = "'#FFFFFF'"
params.low_color = "'#0000FF'"


