# Exclude the python3.7 virtual bnvironment folder 
venv

# Exclude example output files and folders
example_output

# Exclude example data for now.
example_data

# Exclude nextflow files 
.nextflow*
work

# Exclude built singularity containers
singularity/containers

# Exclude vim swap files 
*.swp
