profiles {
    standard {
	        process.executor = "local"
    }

    cluster {
        process.executor = "sge"
		process.clusterOptions = "-S /bin/bash -l tmem=32G,h_vmem=32G,h_rt=00:30:00"
		singularity.enabled = true
		singularity.autoMounts = true
		singularity.cacheDir = "singularity/containers"
	}
}
