profiles {
    standard {
	        process.executor = "local"
    }
	singularity {
		singularity.enabled = true
		singularity.autoMounts = true
		singularity.cacheDir = "singularity/containers"
	}
	apptainer {
		apptainer.enabled = true
		apptainer.autoMounts = true
		apptainer.cacheDir = "apptainer/containers"
	}
	test {
		includeConfig "test/example_run.config"
    }
    sge {
        process.executor = "sge"
		process {
			withLabel: huge_memory {
				clusterOptions = "-S /bin/bash -l tmem=64G,h_vmem=64G,h_rt=03:00:00"
			}
			withLabel: big_memory {
				clusterOptions = "-S /bin/bash -l tmem=32G,h_vmem=32G,h_rt=03:00:00"
			}
			withLabel: mid_memory {
				clusterOptions = "-S /bin/bash -l tmem=4G,h_vmem=4G,h_rt=03:00:00"
			}
			withLabel: small_memory {
				clusterOptions = "-S /bin/bash -l tmem=1G,h_vmem=1G,h_rt=03:00:00"
			}
		}
	}
    slurm {
        process.executor = "slurm"
		process {
			withLabel: huge_memory {
				memory = 64.Gb
				time = 3.h
			}
			withLabel: big_memory {
				memory = 32.Gb
				time = 3.h
			}
			withLabel: mid_memory {
				memory = 4.Gb
				time = 3.h
			}
			withLabel: small_memory {
				memory = 1.Gb
				time = 3.h
			}
		}
	}
}

