singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "singularity/containers"

profiles {
    standard {
	        process.executor = "local"
    }

    cluster {
        process.executor = "sge"
		process {
			withLabel: big_memory {
				clusterOptions = "-S /bin/bash -l tmem=32G,h_vmem=32G,h_rt=00:30:00"
			}
			withLabel: small_memory {
				clusterOptions = "-S /bin/bash -l tmem=1G,h_vmem=1G,h_rt=00:30:00"
			}
		}
	}
}
