// Input parameters:
// See https://github.com/ciccalab/SIMPLI/wiki/Run
params.output_folder ="$baseDir/example_output"
params.channel_metadata = "$baseDir/example_data/metadata/channel_metadata.csv" 
params.raw_metadata_file = "$baseDir/example_data/metadata/sample_metadata.csv" 
params.tiff_type = "single" 
params.cp3_preprocessing_cppipe = "cellprofiler_pipelines/preprocessing_example.cppipe"
params.cp3_segmentation_cppipe = "cellprofiler_pipelines/cell_segmentation_example.cppipe"
params.area_measurements_metadata = "$baseDir/example_data/metadata/marker_area_metadata.csv"
params.cell_analysis_metadata = "$baseDir/example_data/metadata/cell_analysis_metadata.csv"

params.high_color = "'#FF0000'"
params.mid_color = "'#FFFFFF'"
params.low_color = "'#0000FF'"
